:root {
    --iris: #4D5AE5;
    --navy-blue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --background: #FFFFFF;
    --order-hover: #404BBF;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--navy-blue);
    background-color: var(--background);
}

/* ----------Утиліти---------- */

.no-point {
    padding: 0;
    margin: 0;

    list-style: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    padding-left: 156px;
    padding-right: 156px;
}

.head-nav {
    display: flex;
    align-items: center;
}

/* ----------Header---------- */

.logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    text-decoration: none;
}

.head-logo {
    color: var(--navy-blue);
}

.nav-list {
    display: flex;
    margin-left: 76px;
}

.nav-list .nav-list-item + .nav-list-item {
    margin-left: 40px;
}

.nav-anchor {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--navy-blue);
}

.nav-anchor:hover, .nav-anchor:focus {
    color: var(--iris);
}

.address {
    margin-left: auto;
}

.address-list {
    display: flex;
}

.address-list .nav-list-item + .nav-list-item {
    margin-left: 40px;
}

.address-anchor {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    text-decoration: none;
}

.tel {
    text-transform: uppercase;
}

.address-anchor:hover, .address:focus {
    color: var(--iris)
}

/* ----------Main Head---------- */

.head {
    background-color: var(--navy-blue);
    text-align: center;
}

.first-header {
    margin-top: 0;
    margin-bottom: 48px;
    padding-top: 192px;

    font-weight: 600;
    font-size: 56px;
    line-height: 1.075;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--background);
}

.order-button {
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 170px;
    text-align: center;
    border: none;
    margin-bottom: 192px;

    font-family: 'Roboto', sans-serif;
    background: var(--iris);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.04em;
    color: var(--background);
    cursor: pointer;
}

.order-button:hover, .order-button:focus {
    background-color: var(--order-hover);
}

/* ----------Main Features---------- */

.features-list {
    padding-top: 120px;
    margin-bottom: 120px;
}

.third-header {
    margin-top: 0;
    margin-bottom: 8px;

    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.text {
    margin-top: 0;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

/* ----------Main Work---------- */

.work-second-header {
    margin-top: 0;
    margin-bottom: 72px;

    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.work-list {
    margin-bottom: 120px;
}

/* ----------Main Team---------- */

.team {
    background-color: var(--cloud);
    padding-top: 120px;
}

.team-second-header {
    margin-top: 0;
    margin-bottom: 72px;

    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-list {
    padding-bottom: 120px;
}

.team-box {
    background: var(--background);
}

/* ----------Footer---------- */

.footer {
    background-color: var(--navy-blue);
    padding-top: 100px;
    padding-bottom: 100px;
}

.foot-logo {
    color: var(--cloud);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cornflower);
    width: 264px;
}

/* ----------Portgolio---------- */

.portfolio-buttons-list {
    margin-bottom: 72px;
}

.portfolio-button {
    border-radius: 4px;
    padding: 12px 24px;
    min-width: 69px;
    text-align: center;
    border: none;

    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--iris);
    background: var(--cloud);
    cursor: pointer;
}

.portfolio-button:hover, .portfolio-button:focus {
    background-color: var(--iris);
    color: var(--background);
}

/* ----------Also---------- */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}